<header>
     <div class="container">
       <div class="row">
         <div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-sb">
           <ul>
             <li>
              <img class="p-cursor" src="assets/exit.png" alt="" width="20"/>
             </li>
             <li>
               <img class="p-cursor" src="assets/loupe.png" alt="" width="20"/>
             </li>
           </ul>
           <ul>
              <li>
                <a class="font-weight-bold" [routerLink]="['/home']" [routerLinkActive]="'is-active'">Home</a>
              </li>
              <li>
                 <a class="font-weight-bold" routerLink="/login" [routerLink]="['login']" [routerLinkActive]="'is-active'">Login</a>
              </li>
              <li>
                 <a class="font-weight-bold" routerLink="/profile" [routerLink]="['profile']" [routerLinkActive]="'is-active'">Create</a>
              </li>
               <li>
                 <a class="font-weight-bold" [routerLink]="['search']" [routerLinkActive]="'is-active'">Search</a>
               </li>
               <li>
                <a class="font-weight-bold" [routerLink]="['achat']" [routerLinkActive]="'is-active'">Achat</a>
              </li>
           </ul>
         </div>
       </div>
     </div>
  </header>
