.toolbar-spacer {
    flex: 1 1 auto;
}
mat-toolbar a {
    margin: 0 0.5em;
    color: white !important;
    text-decoration: none;
}
header{
  padding: 30px 0;
}
header ul{
    display:flex;
    align-items: center;
}
header ul li{
    padding: 0 40px;
}
header ul li:first-child{
    padding-left: 0;
}
header ul li:last-child{
    padding-right: 0 ;
}
header ul li a {
    color: #000000;
    font-weight: 500;
    position: relative;
}
header ul li a:hover:after,header ul li a.is-active::after{
    content: '';
    background:  #3f51b5!important;;
    height: 7px;
    position: absolute;
    left: 1px;
    z-index: -1;
    bottom: 0;
    right: -3px;
}