 <div class="container">
   <div class="row align-items-center">
     <div class="col">
<div class="shadow rounded" id="im">
  <img src="" width="18" class="ml-2"/>
</div>
</div>
<div class="col">
  <form>
    <mat-card>
        <mat-form-field>
           <input type="text" name="nom" placeholder="nom"  required required>
          </mat-form-field>
          <mat-form-field>
            <input type="text" name="prenom" placeholder="Prenom"  required required>
          </mat-form-field>
        <mat-form-field>
        <input type="text" name="email" placeholder="Email"  required required>
        </mat-form-field>
        <mat-form-field>
          <input type="text" name="adresse" placeholder="adresse"  required required>
        </mat-form-field>
        <mat-form-field>
          <input type="text" name="telephone" placeholder="telephone"  required required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="card" placeholder="card">
    </mat-form-field>
    </mat-card>
    <button mat-raised-button color="primary">valider</button>
  </form>
  </div>
</div>
 </div>
  