.press{
    height: 500px;
    width:100;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.p-tag{
    background: #989898 ;
    color:#fff;
    padding: 5px 10px;
    font-size: 14px;
}
.p-dess{
    color: #acacac;
    width: 80%;
}
form .form-group{
    box-shadow: 1px 2px 12px 1px #0003;
    width: 80%;
}
form .form-control{
    min-height: 60px;
    padding: 10px 20px;
    border-radius: 0;
    border:0;
    outline: none;
    box-shadow: none;
    background-color: #fff;
    width: calc(100% - 141px)
}
.p-rgt-sec{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
form .btn-warning{
    min-height: 60px;
    border: 0;
    border-radius: 0;
    padding: 10px 35px;
    font-weight: 600;
}